 /* --- RESTAURANT DETAIL */
.restaurant-info {
    padding-top: 50px;
}

 .title-card {
    font-size: 2em;
    font-weight: 600;
 }
.text-card {
    font-size: 1.3em;
    align-items: flex-start;
}

 /* --- REVIEW CARD */

