 /* --- RESTAURANT DETAIL */
.restaurant-info {
    padding-top: 20px;
}

 .title-card {
    font-size: 1.6em;
    font-weight: 600;

 }

.text-card {
    font-size: 1em;
    font-weight: 500;
}

.icon-list {
    width: 25px;
    cursor: pointer;
}

.icons {
    background-color: transparent;
    border: none;

}

.icons:hover {
    background-color: transparent;
    border: none;
}

.img-detail {
    height: 350px;
    object-fit: cover;
}

.img-rating-card {
    width: 20px;
}

.detail-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

 /* --- REVIEW CARD */

.comment-title {
    padding: 15px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 8px;
    color: white;
    

}
.comment-col {
    background-color: #1a6a9f;
    padding: 10px;
    margin-bottom: 20px;
}

h5 {
    text-align: right;
    font-weight: 500;
    margin: 5px 0;
}

.img-rating {
    width: 20px;
    margin: 0 3px 3px 5px;
}


.avatar {
    border-radius: 50%;
    width: 40px;
    margin: 0 10px;
}

h6 {
    font-size: 1em;
}

.rating-info {
    font-size: 1.15em;
    font-weight: 500;
    text-align: end;
    margin-bottom: 20px;
}

.btn-back {
    margin-bottom: 20px;
    border: none;
    box-shadow: 5px 5px #134e75;
    margin-bottom: 50px;
    background-color: #1a6a9f;
    padding: 10px 20px;
}

.delete-comment {
    width: 21px;
    margin: 0 0 3px 5px;
}

/* --- REVIEWS FORM */

.comment-form {
    margin: 20px 0;
}

.btn-comment {
    border: none;
    box-shadow: 5px 5px #134e75;
    margin-bottom: 40px;
    background-color: #1a6a9f;
    padding: 10px 20px;
}

.input-comment {
    font-weight: 500;

}

.spinner {
    margin: 40%;
}