.home {
  padding: 100px;
}

.text-home {
  font-size: 4em;
  font-weight: 600;
  color: #1a6b9f;
  text-align: center;
  }
  
  .img-logo {
    width: 45px;
  }

  .img-logo-btn {
    width: 45px;
  }  

  p {
    font-weight: 400;
    font-size: 1.6em;
    text-align: center;
  }

  .btn-choose-home {
    font-weight: 500;
    font-size: 2em;
    padding: 10px 35px;
    margin: 15px 0;
    border: none;
    border-radius: 40px;
    background-color: #1a6a9f;
    margin-left: 150px;
  }


