.home {
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-right: 100px;
  background-color: #dff8fe;
  text-align: center;
  align-items: center;
}

.home-ilustration {
  width: 800px;
}

.text-home {
  margin-top: 150px;
  font-size: 5em;
  font-weight: 800;
  color: #1a6b9f;
  text-transform: uppercase;
  margin-bottom: 30px;
  }

  .text-home img {
    width: 70px;
    margin-bottom: 12px;
  }
  
p {
  font-weight: 400;
  font-size: 1.6em;
}

.text-bold {
  font-weight: 500;
  font-size: 1.7em;
}

.btn-home {
  font-weight: 500;
  font-size: 1.1em;
  padding: 10px 35px;
  margin: 15px 15px 0 0;
  border: none;
  background-color: #1a6a9f;
  text-transform: uppercase;
  box-shadow: 5px 5px #003458;
} 

.btn:visited {
  font-weight: 500;
  font-size: 1.1em;
  padding: 10px 35px;
  margin: 15px 0;
  border: none;
  background-color: #1a6a9f;
  text-transform: uppercase;
  box-shadow: 5px 5px #003458;
}
