.restaurants-list .card{   
    margin-bottom: 30px;
    min-height: 430px;
}

.restaurants-list img {
    height: 180px;
    object-fit: cover;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
}

h5 {
    font-weight: 600;
    font-size: 1.3em;
}

.btn {
    font-weight: 500;
    font-size: .9em;
}

.btn-choose img {
    width: 25px;
    margin: 0 2px;
  }

  .btn-choose {
    align-items: center;
    font-weight: 500;
    font-size: 1.6em;
    padding: 10px 40px;
    margin: 50px 0 50px 0;
  }