.restaurants-list .card{   
    margin-bottom: 30px;
    min-height: 430px;
    box-shadow: grey;
}

.restaurants-list img {
    height: 180px;
    object-fit: cover;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
}

h5 {
    font-weight: 600;
    font-size: 1.4em;
}


.btn {
    font-weight: 500;
    font-size: .9em;
}

.btn-choose img {
    width: 25px;
    margin: 0 2px;
  }

  .btn-choose {
    font-weight: 500;
    font-size: 2em;
    border: none;
    border-radius: 40px;
    background-color: #1a6a9f;
    margin: 80px 0;
    padding: 10px;
  }

.add-rest {
    margin: 20px 0;
}

.btn-add {
    font-weight: 500;
    font-size: 1.4em;
    padding: 10px 35px;
    margin: 15px 0;
    border: none;
    border-radius: 40px;
    background-color: #1a6a9f;
}
  /* --- RESTAURANT CARD -- */

  .btn-detail {
      border: none;
      background-color: #1a6a9f;
      border-radius: 40px;
      color: white;
      padding: 10px 15px;
  }

  .btn:hover {
    color: white;
    background-color: #185c8a;
}


