a {
    color:white;
    text-decoration: none;
    font-weight: 500;
  }

  .navbar a:hover {
    font-size: 1.15em;
    transition: .3s;
    font-weight: 500;
    color:white;
    text-decoration: none;
  }

  .navbar {
    margin-bottom: 40px;
    background-color: #185c8a;
    padding: 15px;

  }
.greeting {
  color: white;
}
  .navbar-text{
    color: white;
  }
  .logo-navbar {
    margin-left: 20px;
  }
  .logo-navbar:hover {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}