
.avatar-profile {
    border-radius: 100%;
    display: block;
    margin: auto;
    width: 120px;
    margin-top: 40px;
}

.title-profile {
    text-align: center;
    margin: 20px 0;
    font-size: 1.3em;
    font-weight: 600;

}

.title-profile-info {
    color: #134e75;
    font-size: .7em;
    font-weight: 500;
    font-style: oblique;
}


.title-user {
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;

}

.user {
    min-height: 250px;
}

.favs {
    padding: 15px;
    min-height: 200px;
    color: #4881a7;
    margin: 20px;
    border: 1px solid #4881a7;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px #4881a7;
}

.wish {
    padding: 15px;
    min-height: 200px;
    color: #4881a7;
    margin: 20px;
    border: 1px solid #4881a7;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px #4881a7;
}

.rest {
    margin-left: 5px;

}

.rest a  {
    color:#134e75;
    font-size: .9em;
    font-weight: 500;
}

.rest a:hover {
    text-decoration: none;
    font-size: 1.1em;
    transition: .3s;
    color:#134e75;
}

.lists {
    justify-content: center;
    align-content: center;
}

.icon-list-profile {
    width: 30px;
    margin: 0 10px;   
}


