
.avatar-profile {
    border-radius: 100%;
    display: block;
    margin: auto;
    width: 120px;
    margin-top: 40px;
}

.title-profile {
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: 600;

}

.title-user {
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;

}

.user {
    min-height: 250px;
}

.favs {
    padding: 15px;
    min-height: 200px;
    color: white;
    margin: 20px;
    background-color: #5a99c3;
    padding: 10px;
    box-shadow: 15px 15px #4881a7;
}

.wish {
    padding: 15px;
    min-height: 200px;
    color: white;
    margin: 20px;
    background-color: #5a99c3;
    padding: 10px;
    box-shadow: 15px 15px #4881a7;
}

.rest {
    margin-left: 5px;

}

.rest a  {
    color: black;
    font-size: 1em;
    font-weight: 500;
}

.rest a:hover {
    text-decoration: none;
    font-size: 1.1em;
    transition: .3s;
    color: black;
}

.lists {
    justify-content: center;
    align-content: center;
}



