.restaurant-form {
    margin-bottom: 20px;
}

.title {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #1a6a9f;
}

.btn-close { 
    background-color: transparent;
    border: none;
}

.btn-close:hover {
    background-color: transparent;
    border: none;
}

.btn-close:focus {
    background-color: transparent;
    border: none;
}

.btn-close img {
    width: 20px;
}

.input-add {
    border: none;
    border-bottom: 2px solid  #175c8a;
  }
  
  .input-add-title {
    font-weight: 500;
  
  }
  