.restaurant-form {
    margin-bottom: 20px;

}

.title {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #1a6a9f;

}


.btn-close {
    margin: 0 0 0 410px; 
    background-color: transparent;
    border: none;
}

.btn-close:hover {
    margin: 0 0 0 410px; 
    background-color: transparent;
    border: none;
}


.btn-close img {
    width: 20px;
}